
          %li.ui-state-default
            %span#pin-icon &nbsp;
            .portlet
              .portlet-header
                = task.name 
                - task.estimate.times do
                  %span.estimated_pomodoros#tomato-icon &nbsp;
