%li.ui-state-default{:id => "task_#{task.id}"}
  %span#pin-icon &nbsp;
  .portlet
    .portlet-header
      = task.name 
      - task.estimate.times do
        %span.estimated_pomodoros#tomato_bg-icon &nbsp;
