/* line 1, ../../app/stylesheets/app.scss */
body {
  font-size: 62.5%;
  background: none repeat scroll 0 0 #EEEEEE;
  line-height: 1;
  font-family: 'Josefin Sans Std Light',futura,arial,sans-serif;
  font-size: 18px;
  color: #555555;
  text-align: left;
}

/* line 10, ../../app/stylesheets/app.scss */
table {
  font-size: 1em;
}

/* line 13, ../../app/stylesheets/app.scss */
.banner {
  height: 106px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 980px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
/* line 20, ../../app/stylesheets/app.scss */
.banner a {
  float: right;
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
}
/* line 25, ../../app/stylesheets/app.scss */
.banner a:hover {
  color: #000;
}

/* line 28, ../../app/stylesheets/app.scss */
.logo {
  margin-left: 22px;
  padding-top: 0;
  float: left;
}

/* line 33, ../../app/stylesheets/app.scss */
.ui-corner-all {
  border: none;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* line 38, ../../app/stylesheets/app.scss */
div.content {
  padding: 25px;
  font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
  margin-left: auto;
  margin-right: auto;
  width: 954px;
  background: url("images/wrapper-bg.png") no-repeat scroll center top transparent;
}
/* line 45, ../../app/stylesheets/app.scss */
div.content h3.docs {
  clear: left;
  font-size: 12px;
  font-weight: normal;
  padding: 0 0 1em;
  margin: 0;
}

/* line 52, ../../app/stylesheets/app.scss */
#footer {
  border-right: 2px solid;
  padding: 0 25px 0 0;
  width: 550px;
  margin-top: 1em;
  margin-bottom: 2em;
  float: left;
  color: #AAAAAA;
  text-shadow: 1px 1px 0 #FFFFFF;
}

/* line 62, ../../app/stylesheets/app.scss */
#sidebar {
  margin-top: 1em;
  width: 350px;
  float: right;
  color: #AAAAAA;
  text-shadow: 1px 1px 0 #FFFFFF;
}

/* line 69, ../../app/stylesheets/app.scss */
div.instructions {
  clear: both;
  padding: 12px;
  font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
  font-size: 1.3em;
  line-height: 1.4em;
}

/* line 76, ../../app/stylesheets/app.scss */
#pin-icon {
  float: left;
  background-image: url("images/pin.png");
  width: 30px;
  height: 25px;
  margin-left: -5px;
  margin-top: -8px;
}

/* line 84, ../../app/stylesheets/app.scss */
#tomato-icon {
  float: right;
  background-image: url("/images/tomato.png");
  width: 30px;
  height: 25px;
}

/* line 90, ../../app/stylesheets/app.scss */
#tomato_bg-icon {
  float: right;
  background-image: url("/images/tomato_bg.png");
  width: 30px;
  height: 25px;
}

/* line 96, ../../app/stylesheets/app.scss */
#x-icon {
  float: right;
  background-image: url("/images/x.png");
  width: 24px;
  height: 25px;
}

/* line 104, ../../app/stylesheets/app.scss */
#tabs
.hide {
  display: none;
}

/* line 107, ../../app/stylesheets/app.scss */
.timer {
  margin-left: 2em;
  margin-top: 1em;
}

/* line 111, ../../app/stylesheets/app.scss */
.description {
  height: 106px;
  margin-top: 2em;
  text-shadow: 1px 1px 0 #FFFFFF;
}
/* line 115, ../../app/stylesheets/app.scss */
.description p {
  color: #aaa;
  margin-left: 20px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
/* line 119, ../../app/stylesheets/app.scss */
.description a {
  color: #aaa;
  text-decoration: none;
}
/* line 122, ../../app/stylesheets/app.scss */
.description a:hover {
  color: #000;
}
