body {
	font-size: 62.5%;
	background:none repeat scroll 0 0 #EEEEEE;
    line-height:1;
   font-family:'Josefin Sans Std Light',futura,arial,sans-serif;
   font-size:18px;
   color:#555555;
   text-align:left;
}

table {
	font-size: 1em;
}


.banner {
height:106px;
margin-left:auto;
margin-right:auto;
margin-bottom:25px;
width:980px;
text-shadow:1px 1px 0 #FFFFFF;
}

.banner a {
  float: right;
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
}

.banner a:hover {
  color: #000;
}

.logo {
margin-left:22px;
padding-top:0;
float:left;
}



#tabs {
min-height:537px;
background:url("images/linen.png") repeat scroll 0 0 #333333;
}
.ui-widget-header {
background:none repeat scroll 0 0 transparent;
}
.ui-tabs .ui-tabs-nav {
margin-top:-2.4em;
}
.ui-corner-all {
	border:none;
	-moz-border-radius:0px;
	border-radius:0px;
}



div.content {
	padding:25px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	margin-left:auto;
    margin-right:auto;
    width:954px;
	background:url("images/wrapper-bg.png") no-repeat scroll center top transparent;
}


div.content h3.docs { clear:left; font-size:12px; font-weight:normal; padding:0 0 1em; margin:0; }



#footer {
border-right:2px solid;
padding:0 25px 0 0;
width:550px;
margin-top:1em;
margin-bottom:2em;
float:left;
color:#AAAAAA;
text-shadow:1px 1px 0 #FFFFFF;
}

#sidebar {
margin-top:1em;
width:350px;
float:right;
color:#AAAAAA;
text-shadow:1px 1px 0 #FFFFFF;
}


div.instructions {
	clear:both;
	padding:12px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 1.3em;
	line-height: 1.4em;
	
}

.ui-draggable, .ui-droppable {
	background-position: top left;
}









/* Enable portlets */
	.portlet { margin:0; }
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; display: none; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: hidden !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	
	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
-moz-box-shadow:1px 5px 8px 0 rgba(0, 0, 0, 0.06);
background-color:#FFFFCC;
background-image:-moz-linear-gradient(right bottom 100deg, rgba(255, 255, 255, 0.35), transparent 70%);
display:block;
font-family:"Marker Felt","Comic Sans MS";
font-size:21px;
line-height:1.1em;
padding:0.9em 1.2em;
}
.ui-widget-content, .ui-widget-header {
background:transparent;
font-family:"Marker Felt","Comic Sans MS";
font-size:21px;
line-height:1.1em;
color:#555555;
}
.portlet-content {
	font-size:18px;
}



#pin-icon {
	float:left;
background-image:url("images/pin.png");
width:30px;
height:25px;
margin-left:-5px;
margin-top:-8px;
}
#tomato-icon {
	float:right;
background-image:url("images/tomato.png");
width:30px;
height:25px;
}
#tomato_bg-icon {
	float:right;
background-image:url("images/tomato_bg.png");
width:30px;
height:25px;
}
#x-icon {
float:right;
background-image:url("images/x.png");
width:24px;
height:25px;
}

	
/* tabs */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li {
background:url("images/tab_shadow.png") no-repeat scroll left top transparent;
padding:0 0 0 8px;
border:none;
float:right;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	background:url("images/wood.jpg") no-repeat scroll left top transparent;
	color:#FFFFFF;
	text-decoration:none;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { 
height: 1.5em; 
line-height: 1.2em;
border:1px solid #FFFFFF;
background:#333333;
}

.hide { display:none; }

.timer {
margin-left:2em;
margin-top:1em;
}

.description {
height:106px;
margin-top:2em;
text-shadow:1px 1px 0 #FFFFFF;
}

.description p {
  color: #aaa;
  margin-left: 20px;
  text-shadow:1px 1px 0 #FFFFFF;
}
.description a {
  color: #aaa;
  text-decoration: none;
}


.description a:hover {
  color: #000;
}

