/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1288033412');
}
/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 42, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 50, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 26, ../../app/stylesheets/screen.scss */
body {
  background: #fffff0;
  font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

/* line 30, ../../app/stylesheets/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 34, ../../app/stylesheets/screen.scss */
#header {
  min-height: 70px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #660000), color-stop(100%, #990033));
  background-image: -moz-linear-gradient(top, #660000 0%, #990033 100%);
  background-image: linear-gradient(top, #660000 0%, #990033 100%);
}

/* line 38, ../../app/stylesheets/screen.scss */
#logo-nav-wrapper {
  padding: 10px;
  margin: auto;
  width: 950px !important;
}

/* line 43, ../../app/stylesheets/screen.scss */
#logo {
  float: left;
  font-family: "salsbury-1","salsbury-2";
  font-size: 44px;
  color: white;
}

/* line 49, ../../app/stylesheets/screen.scss */
#content {
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 750px !important;
}

/* line 55, ../../app/stylesheets/screen.scss */
#navigation {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: right;
  margin: 15px auto;
}
/* line 57, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#navigation li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#navigation li:first-child, #navigation li.first {
  padding-left: 0;
}
/* line 46, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#navigation li:last-child, #navigation li.last {
  padding-right: 0;
}
/* line 59, ../../app/stylesheets/screen.scss */
#navigation li {
  margin: auto 10px;
}

/* line 62, ../../app/stylesheets/screen.scss */
.error-on-field {
  background: red;
  font-size: 16px;
}

/* line 66, ../../app/stylesheets/screen.scss */
.ui-tabs-hide {
  display: none;
}

/* line 69, ../../app/stylesheets/screen.scss */
#tabs-wrapper {
  margin-top: 35px;
}

/* line 72, ../../app/stylesheets/screen.scss */
.ui-tabs-panel {
  border: 5px solid #660000;
}

/* line 75, ../../app/stylesheets/screen.scss */
.ui-state-default {
  margin-right: 5px;
  padding: 3px !important;
  border: 1px solid black;
  border-bottom: none;
  background: #fffff0;
}

/* line 82, ../../app/stylesheets/screen.scss */
.ui-state-active {
  border-bottom: 1px solid #660000;
  background: #660000;
}

/* line 86, ../../app/stylesheets/screen.scss */
.ui-corner-top {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 89, ../../app/stylesheets/screen.scss */
.ui-tabs-nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 57, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.ui-tabs-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.ui-tabs-nav li:first-child, .ui-tabs-nav li.first {
  padding-left: 0;
}
/* line 46, ../../../../.rvm/gems/ruby-1.8.7-p302@tuhmayta/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.ui-tabs-nav li:last-child, .ui-tabs-nav li.last {
  padding-right: 0;
}

/* line 92, ../../app/stylesheets/screen.scss */
.ui-state-active > a {
  color: white !important;
}

/* line 95, ../../app/stylesheets/screen.scss */
.ui-state-default > a {
  color: black;
}

/* line 98, ../../app/stylesheets/screen.scss */
.form-wrapper {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -khtml-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -moz-box-shadow: #333333 0px 5px 0px 0;
  -webkit-box-shadow: #333333 0px 5px 0px 0;
  -o-box-shadow: #333333 0px 5px 0px 0;
  box-shadow: #333333 0px 5px 0px 0;
  background: #4b5320;
  padding: 20px;
}

/* line 104, ../../app/stylesheets/screen.scss */
#flash {
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -khtml-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  text-indent: 15px;
  color: white;
  background: #566600;
}

/* line 111, ../../app/stylesheets/screen.scss */
#new-task-form {
  width: 710px;
  font-size: 16px;
  color: white;
}
/* line 115, ../../app/stylesheets/screen.scss */
#new-task-form .inputs {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  height: 30px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #4b5320), color-stop(100%, #566600));
  background-image: -moz-linear-gradient(bottom, #4b5320 0%, #566600 100%);
  background-image: linear-gradient(bottom, #4b5320 0%, #566600 100%);
}
/* line 120, ../../app/stylesheets/screen.scss */
#new-task-form input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  background: #fffff0;
  height: 20px;
  font-size: 16px;
  border: none;
}
/* line 128, ../../app/stylesheets/screen.scss */
#new-task-form select {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #fffff0;
  height: 30px;
  width: 30px;
}
/* line 133, ../../app/stylesheets/screen.scss */
#new-task-form #task-submit {
  display: inline;
  float: right;
  margin-top: 5px;
  height: 30px;
  width: 80px;
  color: white;
  background: #660000;
}
/* line 140, ../../app/stylesheets/screen.scss */
#new-task-form .arrow-left {
  position: relative;
  right: 47px;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  /* left arrow slant */
  border-bottom: 15px solid transparent;
  /* right arrow slant */
  border-right: 15px solid #660000;
  /* bottom, add background color here */
  margin: 0 auto;
  /* centers the arrow within the parent container */
  font-size: 0px;
  line-height: 0px;
}
/* line 151, ../../app/stylesheets/screen.scss */
#new-task-form #task_submit {
  position: relative;
  bottom: 30px;
  width: 80px;
  height: 20px;
  padding: 5px 20px 20px 20px;
  background: none;
  color: white;
}

/* line 160, ../../app/stylesheets/screen.scss */
.task {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #FFF8C6;
  padding: 5px 5px 10px 5px;
  border: 1px black solid;
  font-size: 18px;
}
/* line 166, ../../app/stylesheets/screen.scss */
.task .fields-wrapper {
  width: 630px;
  margin: -15px auto 0px;
}
/* line 169, ../../app/stylesheets/screen.scss */
.task .icons-wrapper {
  min-height: 30px;
}
/* line 171, ../../app/stylesheets/screen.scss */
.task .edit-delete-buttons {
  float: right;
}

/* line 174, ../../app/stylesheets/screen.scss */
.icon {
  width: 30px;
  height: 25px;
  display: inline;
}

/* line 179, ../../app/stylesheets/screen.scss */
.pin-icon {
  float: left;
  background-image: url("images/pin.png");
}

/* line 183, ../../app/stylesheets/screen.scss */
.tomato-icon {
  float: right;
  background-image: url("/images/tomato.png");
}

/* line 187, ../../app/stylesheets/screen.scss */
.tomato_bg-icon {
  float: right;
  background-image: url("/images/tomato_bg.png");
}

/* line 191, ../../app/stylesheets/screen.scss */
.task-list {
  list-style: none;
}
