.instructions
  %p
    Click on and drag a task to a new spot within the list, and the other tasks will adjust there priority.
  %p
    Sort tasks from one list into another and vice versa, by dropping the task item on the tabs.

  
