.description
  %p
    %a{:href => "#"} Learn more about Pomodoro
  %p
    %a#about{:href => "#"} About
  %p
    In conjuction with:
  %p
    = link_to "http://www.railsrumble.com" do
      = image_tag "rumble_logo.png"

